div {
    background-color: chocolate;
    margin: 2px;
    height: 100px;
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}

.section {
    display: flex;
    justify-content: center;
}

.section12 {
    display: flex;
    justify-content: center;
}